@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-light {
    background-image: radial-gradient(
      circle at 6px 6px,
      #fdba74 1px,
      transparent 0
    );
    background-size: 1.5rem 1.5rem;
  }

  .grid-dark {
    background-image: radial-gradient(
      circle at 6px 6px,
      #1e40af 1px,
      transparent 0
    );
    background-size: 1.5rem 1.5rem;
  }
}
