@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-basic: 248 250 252;
  --color-bg-basic-grid: 243 243 243;
  --color-bg-light: 244 233 220;
  --color-bg-light-dots: 245 223 198;
  --color-bg-dark: 2 6 23;
  --color-bg-dark-dots: 30 41 59;
}

h1,
h2,
h3,
h4 {
  scroll-margin-top: 6rem;
}

@layer utilities {
  .grid-basic {
    background-image: linear-gradient(
        to right,
        rgb(var(--color-bg-basic-grid)) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        rgb(var(--color-bg-basic-grid)) 1px,
        transparent 1px
      );
    background-size: 1.5rem 1.5rem;
    background-color: rgb(var(--color-bg-basic));
  }

  .grid-light {
    background-image: radial-gradient(
      circle at 1rem 1rem,
      rgb(var(--color-bg-light-dots)) 0.2rem,
      transparent 0
    );
    background-size: 1.5rem 1.5rem;
    background-color: rgb(var(--color-bg-light));
  }

  .grid-dark {
    background-image: radial-gradient(
      circle at 1rem 1rem,
      rgb(var(--color-bg-dark-dots)) 0.1rem,
      transparent 0
    );
    background-size: 1.5rem 1.5rem;
    background-color: rgb(var(--color-bg-dark));
  }
}
